{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devis site web</title>
      <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.5/css/bulma.min.css"/>
  </head>
  <body>
    <h2 class="subtitle devis"> {{ devis.titre }}</h2>
    <div class="box"><p>{{ emeteur.nom }}<br/>
      {{ emeteur.adresse }}<br/>
      E-mail: {{ emeteur.email }}<br/>
      Télépĥone: {{ emeteur.telephone }}<br/>
      SIRET: {{ emeteur.SIRET }}<br/>
      Code APE: {{ emeteur.code_APE }}</p>
    </div>

    <div class="box client"><h2 class="subtitle client">Le client:</h2>
      <p>{{ client.nom }}<br/>
        {{ client.adresse }}<br/>
        Tel: {{ client.telephone }}<br/>
        {% if client.fax %}Fax: {{ client.fax }}<br/>{% endif %}
        E-mail: {{ client.email }}<br/></p>
    </div>
    <table class="table is-bordered is-striped is-fullwidth">
      <THEAD>
        <tr>
          <th>Désignation</th><th>Quantité</th><th>Prix unitaire (HT)</th><th>Montant (HT)</th>
        </tr>
      </THEAD>
      <TBODY>
      {% for line in lines %}
        <tr>
          <td>{{ line.designation }}</td>
          <td>{{ line.quantité }}</td>
          <td>{{ line.prix_unit }} {{ grille.devise }}</td>
          <td>{{ line.montant }} {{ grille.devise }}</td>
        </tr>
      {% endfor %}
      </TBODY>
    </table>
    <div class="box"> 
      TVA non applicable - article 293 B du Code Général des Impôts  <div class="payer">  Net à payer **à calculer dans view** {{ grille.devise }} </div>
    </div>
    <br/>
    <p>Durée de validité du devis: 90 jours </p><br/>

    <p>Le paiement des prestations interviendra par virement sur le compte bancaire dont le RIB a été communiqué au client.</p>
    <br/>
    
    <p>Signature: </p>
    <p>Faire précéder votre signature de la mention
      « Lu et approuvé, bon pour accord le  »<br/></p>
  </body>
</html>