{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.5/css/bulma.min.css"/>
    <link rel="stylesheet" href=""/>
  </head>
  <body>
    <h1 class="has-text-centered title">Devis</h1></br>
    <div class="has-text-centered">
      <a class="button" href="{% url 'devis:nouveau'%}">Nouveau</a>
    </div>
    </br>
    <div class="columns has-text-centered">
      <div class="column">
        <h2 class="has-text-centered subtitle">Créés</h2>
        {% if dernier_crees %}
        <ul>
          {% for devis_cree in dernier_crees %}
          <li><a href="{% url 'devis:detail' devis_cree.id %}">{{ devis_cree.titre }}</a> <span>{{devis_cree.date_creation|date:"d M Y"}}</span></li>
          {% endfor %}
        </ul>
        {% else %}
          <p>Aucun devis créé</p>
        {% endif %}
      </div>
      <div class="column">
        <h2 class="has-text-centered subtitle">Emis</h2>
        {% if dernier_emis %}
        <ul>
          {% for devis_emis in dernier_emis %}
          <li><a href="{% url 'devis:detail' devis_emis.id %}">{{ devis_emis.titre }}</a> <span>{{ devis_emis.date_emission|date:"d M Y" }}</span></li>
          {% endfor %}
        </ul>
        {% else %}
          <p>Aucun devis émis</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
