{% extends "base.html" %}

{% load static %}

{% block content %}
  <h1 class="has-text-centered title">Devis</h1></br>
  <div class="has-text-centered">
    <a class="button" href="{% url 'devis:new_emetteur'%}">Nouveau Emetteur</a>
    <a class="button" href="{% url 'devis:new_client'%}">Nouveau Client</a>
    <a class="button" href="{% url 'devis:new_devis'%}">Nouveau Devis</a>
  </div>
  </br>
  <div class="has-text-centered">
    <h2>Liste des Emetteur et Client:</h2>
    <a class="button" href="{% url 'devis:list_emetteur_client'%}">Emetteur et Client</a>
  </div>
  <div class="columns has-text-centered">
    <div class="column">
      <h2 class="has-text-centered subtitle">Devis créés</h2>
      {% if dernier_crees %}
      <ul>
        {% for devis_cree in dernier_crees %}
        <li>
          <span>{{ devis_cree.titre }} > {{ devis_cree.client.nom }} - {{devis_cree.date_creation}}</span> </br>
          <a href="{% url 'devis:modifier' devis_cree.id %}"> <i class="fas fa-edit"></i></a>  --- 
          <a href="{% url 'devis:detail' devis_cree.id %}"><i class="fas fa-eye"></i></a> --- 
          <a href="{% url 'devis:delete' devis_cree.id %}"><i class="fas fa-trash-alt"></i></a> --- 
          <a href="{% url 'devis:pdf' devis_cree.id %}"><i class="fas fa-file-pdf"></i></a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>Aucun devis créé</p>
      {% endif %}
    </div>
    <div class="column">
      <h2 class="has-text-centered subtitle">Emis</h2>
      {% if dernier_emis %}
      <ul>
        {% for devis_emis in dernier_emis %}
          <li>
          <span> {{ devis_emis.titre }} > {{ devis_emis.client.nom }} - {{devis_emis.date_creation}}</span> </br>
          <a href="{% url 'devis:modifier' devis_emis.id %}"> <i class="fas fa-edit"></i></a>  --- 
          <a href="{% url 'devis:detail' devis_emis.id %}"><i class="fas fa-eye"></i></a> --- 
          <a href="{% url 'devis:delete' devis_emis.id %}"><i class="fas fa-trash-alt"></i></a> --- 
          <a href="{% url 'devis:pdf' devis_emis.id %}"><i class="fas fa-file-pdf"></i></a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>Aucun devis émis</p>
      {% endif %}
    </div>
  </div>
{% endblock %}