{% extends "base.html" %}

{% load static %}

{% block content %}

<h1 class="has-text-centered title">Liste des émetteurs et clients</h1>
<div class="columns has-text-centered">
  <div class="column">
    <h2 class="has-text-centered subtitle">Emetteurs créés</h2>
    {% if emetteurs %}
    <ul>
      {% for emetteur in emetteurs %}
      <li>
        <span>{{emetteur.nom}} - id {{emetteur.id}}</span> ---
        <a href="{% url 'devis:delete_emetteur' emetteur.id %}"><i class="fas fa-trash-alt"></i></a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Aucun emetteur créé</p>
    {% endif %}
  </div>
  <div class="column">
    <h2 class="has-text-centered subtitle">Client créés</h2>
    {% if clients %}
    <ul>
      {% for client in clients %}
      <li>
        <span>{{client.nom}} - id {{client.id}}</span> ---
        <a href="{% url 'devis:delete_client' client.id %}"><i class="fas fa-trash-alt"></i></a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Aucun client créé</p>
    {% endif %}
  </div>
</div>
<div class="has-text-centered">
  <a class="button" href="{% url 'devis:index'%}">Retour index</a>
</div>

{% endblock %}