{% extends "devis_app/tabs.jinja" %}

{% block titre %}
  <h2 class="subtitle devis">Modification devis - id n°{{devis_id}} </h2>
{% endblock %}

{% block destination_form %}
  <form class="content" action="." method="post">
{% endblock %}

{% block emetteur_client %}
  {{ form_fk.as_table }}
{% endblock %}