{% extends "devis_app/tabs.jinja" %}


{% block destination_form %}
  <form class="content" action="{% url 'devis:new_devis' %}" method="post">
{% endblock %}

{% block emetteur_client %}
  {{ form_fk.as_ul }}
{% endblock %}