<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devis site web</title>
      <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.5/css/bulma.min.css"/>
      <!-- <link rel="stylesheet" href="template/devis.css"/> -->
  </head>
  <body>
    <h2 class="subtitle devis"> Test pdf</h2>


    <p>Durée de validité du devis: 90 jours </p><br/>

    <p>Le paiement des prestations interviendra par virement sur le compte bancaire dont le RIB a été communiqué au client.</p>
    <br/>
    
    <p>Signature: </p>
    <p>Faire précéder votre signature de la mention
      « Lu et approuvé, bon pour accord le  »<br/></p>
    
  </body>
</html>