{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"/>
  <link rel="stylesheet" href="{% static 'devis_app/css/form.css' %}"/>
{% endblock %}
{% block content %}
  <div class="has-text-centered is-centered">
    {% block titre %}
      {# Override this in templates#}
    {% endblock %}
    <div class="tabs is-centered is-boxed is-medium">
      <ul class="tab-links">
        <li  class="is-active">
          <a href="#form-grille">
            <span class="icon is-small"><i class="fas fa-euro-sign"></i></i></span>
            <span>Grille de prix</span>
          </a>
        </li>
        <li>
          <a href="#form-info-devis">
            <span class="icon is-small"><i class="far fa-file-alt"></i></span>
            <span>Info devis</span>
          </a>
        </li>
      </ul>
    </div>
    {% block destination_form %}
      {# Override this in templates#}
    {% endblock %}
      {% csrf_token %}
      <div class="panel" class="columns is-desktop" id="form-grille" style="visibility:visible">
        <div class="column">
          Devise: {{ grille.devise }}
        </div>
        <div class="column">
          <table id="grille">
            <thead>
              <tr>
                <th>Désignation</th>
                <th>Quantité</th>
                <th>Prix unitaire <div class="devise-holder" style="display:inline"></div> (HT)</th>
                <th>Montant <div class="devise-holder" style="display:inline"></div> (HT)</th>
              </tr>
            </thead>
            <tbody>
              {% if lines %}
                {% for line in lines %}
                <tr>
                  <td><textarea name="l{{line.numero}}_designation" class="textarea is-small" cols="40" rows="2" type="text">{{ line.designation }}</textarea></td>
                  <td><input name="l{{line.numero}}_quantity" class="input is-small quantity" type="text" size="8" value="{{ line.quantité }}"></td>
                  <td><input name="l{{line.numero}}_prix-unite" class="input is-small prix-unite" type="text" size="1" value="{{ line.prix_unit }}"></td>
                  <td><input name="l{{line.numero}}_montant" class="input is-small sous-total" size="2" type="text" value="{{ line.montant }}"></td>
                </tr>
                {% endfor %}
              {% else %}
              <tr>
                {# Ligne par défaut à ajouter quand on click sur bouton "nouvell-ligne" #}
                {# <tr><td><input class="input is-small" type="text" value=""></td><td><input class="input is-small quantity" type="text" value="1"></td><td><input class="input is-small prix-unite" type="text" value="0,00"></td><td></td></tr> #}
                <td><textarea name="l0_designation" class="textarea is-small" cols="40" rows="2" type="text"></textarea></td>
                <td><input name="l0_quantity" class="input is-small quantity" type="text" size="8" value="1"></td>
                <td><input name="l0_prix-unite" class="input is-small prix-unite" type="text" size="1" value="0,00"></td>
                <td><input name="l0_montant" class="input is-small sous-total" size="2" type="text"></td>
              </tr>
              {% endif %}
            </tbody>
            <tfoot>
              <tr>
                <th colspan="2"><div id="nouvelle-ligne" class="button is-text">Nouvelle ligne</div></th>
                <th colspan="2"><div id="supprimer-ligne" class="button is-text">Supprimer ligne</div></th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="subtitle" style="float: right; padding-right: 20px" >Total: <input name="total" id="total" size="2" value="{{ total }}" type="text"> <span class="devise-holder" style="display:inline"></span></div>
      </div>
      <table class="panel" id="form-info-devis" style="visibility:collapse">
        {{form_fk}}
        {{devis}}
      </table>
      <input class="button" type="submit" value="Enregistrer">
    </form>
    <a class="button" href="{% url 'devis:index'%}">Retour index</a>
  </div>
{% endblock %}
{% block extra_js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'devis_app/js/form.js' %}"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
{% endblock %}
