<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.5/css/bulma.min.css"/>
    {% load static %}
    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>
  <header>
    <!-- TODO déplacer le code HTML de la navbar dans le fichier template prévu -->
    {% include 'navbar.html' %}
  </header>
  <body>
    <main class="main">
      {% block content %}{% endblock %}
    </main>
    {# Global javascript #}
    <script src="https://kit.fontawesome.com/86a11fcf22.js" crossorigin="anonymous"></script>
    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>