<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devis site web</title>
      <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.5/css/bulma.min.css"/>
      <link rel="stylesheet" href="template/devis.css"/>
  </head>
  <body>
    
    <h2 class="subtitle devis"> {{ titre }}</h2>
    <div class="box"><p>{{ nom_emeteur }}<br/>
      {% for line in adresse_emeteur %}
        {{ line }}<br/>
      {% endfor %}
      E-mail: {{ email_emeteur }}<br/>
      Télépĥone: {{ telephone_emeteur }}<br/>
      SIRET: {{ SIRET_emeteur }}<br/>
      Code APE: {{ Code_APE_emeteur }}</p>
    </div>

    <div class="box client"><h2 class="subtitle client">Le client:</h2>
      <p>{{ nom_client }}<br/>
        {% for line in adresse_client %}
          {{ line }}<br/>
        {% endfor %}
        Tel: {{ telephone_client }}<br/>
        {% if fax_client %}Fax: {{ fax_client }}<br/>{% endif %}
        E-mail: {{ email_client }}<br/></p>
    </div>
      
    <table class="table is-bordered is-striped is-fullwidth">
      <THEAD>
        <tr>
          <th>Désignation</th><th>Quantité</th><th>Prix unitaire (HT)</th><th>Montant (HT)</th>
        </tr>
      </THEAD>
      <TBODY>
      {% for line in data_price.grille %}
        <tr>
          <td>{{ line.designation }}</td>
          <td>{{ line.quantité }}</td>
          <td>{{ "{:.2f}".format(line.prix_unit) }} {{ data_price.devise }}</td>
          <td>{{ "{:.2f}".format(line.montant) }} {{ data_price.devise }}</td>
        </tr>
      {% endfor %}
      </TBODY>
    </table>

    <div class="box"> TVA non applicable - article 293 B du Code Général des Impôts  <div class="payer">  Net à payer {{ "{:.2f}".format(data_price.grille|sum(attribute='montant')) }} {{ data_price.devise }} </div>
    </div>
    <br/>
    <p>Durée de validité du devis: 90 jours </p><br/>

    <p>Le paiement des prestations interviendra par virement sur le compte bancaire dont le RIB a été communiqué au client.</p>
    <br/>
    
    <p>Signature: </p>
    <p>Faire précéder votre signature de la mention
      « Lu et approuvé, bon pour accord le  »<br/></p>
    
  </body>
</html>