<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devis site web</title>
      <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.5/css/bulma.min.css"/>
      <link rel="stylesheet" href="devis.css"/>
  </head>
  <body>
    <div id="pageHeader">Devis n° {{ num_devis }} - {{ date }}</div>
    <h2 class="subtitle devis"> Hébergement de site web</h2>
    <div class="box"><p>Pierre MANCINI <br/>
      301 bis route de Toulouse<br/>
      appartement 49<br/>
      33140 Villenave d'Ornon<br/>
      E-mail: pierremncini@gmail.com<br/>
      Télépĥone: 06 17 09 12 72<br/>
      SIRET: 880 255 542 00016<br/>
      Code APE: 6201Z</p></div>

    <div class="box client"><h2 class="subtitle client">Le client:</h2>
      <p>P/o Maître LABROUCHE<br/>
        Etude de Maitre LABROUCHE<br/>
        173 Boulevard Albert 1er<br/>
        33130 BEGLES<br/>
        Tel: 05.56.49.58.82<br/>
        Fax: 05.56.49.64.52<br/>
        herve.labrouche@notaires.fr<br/></p></div>

      
    <table class="table is-bordered is-striped">
      <tr>
        <th>Désignation</th><th>Prix (HT)</th>
      </tr>
      <tr>
        <td>Location du serveur chez gandi.net</td><td>5,26 € / mois</td>
      </tr>
      <tr>
        <td>Location du nom de domaine "labrouche.notaire.fr"</td><td>1,52 € / mois (18,24 € / an)</td>
      </tr>
      <tr>
        <td>Gestion du site, incluant: <br/> accès aux consoles, suivit du trafic, interventions d'urgences</td><td>1 € / mois</td>
      </tr>
    </table>

    <div class="box">TVA non applicable - article 293 B du Code Général des Impôts  <div class="payer">  Net à payer 8,78 € / mois </div></div>
    <br/>
    <p>Durée de validité du devis: 90 jours </p></br>

    <p>Le paiement des prestations interviendra par virement sur le compte bancaire dont le RIB a été communiqué au client.</p>
    <br/>
    
    <p>Signature: </p>
    <p>(Faire précéder votre signature de la mention :
      « Lu et approuvé, bon pour accord le (date) »)<br/></p>
    
  </body>
</html>