<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devis site web</title>
      <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.5/css/bulma.min.css"/>
      <link rel="stylesheet" href="devis.css"/>
  </head>
  <body>
    <div id="pageHeader">Devis n° {{ num_devis }} - {{ date }}</div>
    <h2 class="subtitle devis"> {{ titre }}</h2>
    <div class="box"><p>{{ nom_emeteur }}<br/>
      {% for line in adresse_emeteur %}
        {{ line }}<br/>
      {% endfor %}
      E-mail: {{ email_emeteur }}<br/>
      Télépĥone: {{ telephone_emeteur }}<br/>
      SIRET: {{ SIRET_emeteur }}<br/>
      Code APE: {{ Code_APE_emeteur }}</p></div>

    <div class="box client"><h2 class="subtitle client">Le client:</h2>
      <p>{{ nom_client }}<br/>
        {% for line in adresse_client %}
          {{ line }}<br/>
        {% endfor %}
        Tel: {{ telephone_client }}<br/>
        Fax: {{ fax_client }}<br/>
        {{ email_client }}<br/></p>
    </div>

      
    <table class="table is-bordered is-striped">
      <tr>
        <th>Désignation</th><th>Quantité</th><th>Prix (HT)</th>
      </tr>
      {% for line in table_prix %}
        <tr>
          <td>{{ line.designation }}</td><td>{{ line.quantité }}</td><td>{{ line.prix }}</td>
        </tr>
      {% endfor %}
    </table>

    <div class="box">TVA non applicable - article 293 B du Code Général des Impôts  <div class="payer">  Net à payer 8,78 € / mois </div></div>
    <br/>
    <p>Durée de validité du devis: 90 jours </p><br/>

    <p>Le paiement des prestations interviendra par virement sur le compte bancaire dont le RIB a été communiqué au client.</p>
    <br/>
    
    <p>Signature: </p>
    <p>Faire précéder votre signature de la mention
      « Lu et approuvé, bon pour accord le  »<br/></p>
    
  </body>
</html>