<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devis site web</title>
      <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.5/css/bulma.min.css"/>
      <link rel="stylesheet" href="devis.css"/>
  </head>
  <body>
    <div id="pageHeader">Devis n° 001 - 27/11/2019</div>
    <h2 class="subtitle devis">Devis création de site web pour office notarial</h2>
    <div class="box"><p>Pierre MANCINI <br/>
      33140 Villenave d'Ornon<br/>
      E-mail: pierremncini@gmail.com<br/>
      Télépĥone: 06 17 09 12 72<br/>
      SIRET: en cours d'attribution</p></div>

    <div class="box client"><h2 class="subtitle client">Le client:</h2>
    <p>P/o Maître LABROUCHE<br/>
      Etude de Maitre LABROUCHE<br/>
      173 Boulevard Albert 1er<br/>
      33130 BEGLES<br/>
      Tel : 05.56.49.58.82<br/>
      Fax:05.56.49.64.52<br/>
      herve.labrouche@notaires.fr<br/></p></div>

      <p>
        L'hébergement du site ne fait pas partie du présent devis.</p> </br>

    
      
    <table class="table is-bordered is-striped">
      <tr>
        <th>Désignation</th><th>Prix (HT)</th>
      </tr>
      <tr>
        <td>Page d’accueil</td><td>150 €</td>
      </tr>
      <tr>
        <td>Page contact</td><td>150 €</td>
      </tr>
      <tr>
        <td>Page index annonce bien immobiliers</td><td>150 €</td>
      </tr>
      <tr>
        <td>Page annonce bien immobiliers</td><td>250 €</td>
      </tr>
      <tr>
        <td>Outil de gestion de publication des annonces</td><td>400 €</td>
      </tr>
      <tr>
        <td>Base de données pour les annonces</td><td>400 €</td>
      </tr>
      <tr>
        <td>Intégration de la lettre du notaire dans le contenu du site</td><td>200 €</td>
      </tr>
      <tr>
        <td>Configurations, mise en ligne et formation à l’utilisation du site et de l’outil de publication</td>
        <td>300 €</td>
      </tr>
    </table>

    <div class="box">TVA non applicable - article 293 B du Code Général des Impôts  <div class="payer">  Net à payer 2000 € </div></div> 


    <div class="pagebreak"> </div>

    <p>Date de livraison :</p> <br/>


    <p>Bon pour accord le : <br/>
      Signature</p>
    
  </body>
</html>